In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame([{ 'id': 1, 'cate': 'A' }, { 'id': 1, 'cate': 'A' }, { 'id': 2, 'cate': 'B' }, { 'id': 3, 'cate': 'C' }, { 'id': 4, 'cate': 'A' }, { 'id': 5, 'cate': 'A' }])
data

   id cate
0   1    A
1   1    A
2   2    B
3   3    C
4   4    A
5   5    A

In [3]:
data_new = pd.crosstab(data['id'], data['cate'])

In [4]:
data_new

cate  A  B  C
id
1     2  0  0
2     0  1  0
3     0  0  1
4     1  0  0
5     1  0  0